{% extends 'base.html' %}
{% block content %}
{% load post_extras %}
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Introducing The Writers</h2>
            <p>The Writers is a space for people who like to share what they write with the world.
                Writers can discuss what they have written with their readers gaining valuable
                insight on their work.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>Guidelines</h2>
            <p>The Do's and Don'ts</p>
             <ol>
                 <li>
                     <p>Hate speech, or profanity directed toward other users is prohibited;
                        <ul>
                            <li>If you would like to report an offensive post please Email TheWriters86@gmail.com
                                with a link to the post.
                            </li>
                        </ul>
                    </p>
                 </li>
                 <li>
                     <p>Follow the brief;
                        <ul>
                            <li>Competition entries not following the brief will be disqualified and you
                                will not be eligible for a refund on your subscription.
                            </li>
                        </ul>
                    </p>
                 </li>
                 <li>
                     <p>Share your posts;
                        <ul>
                            <li>Sharing your posts on social media is a great way for more people to see your work.
                            </li>
                        </ul>
                    </p>
                 </li>
                 <li>
                     <p>Make comments;
                        <ul>
                            <li>Help others by offering constructive criticism. Tell them why you like or don't like something
                                about their work.
                            </li>
                        </ul>
                    </p>
                 </li>
                 <li>
                     <p>Vote;
                        <ul>
                            <li>Make sure you vote for the entries you think deserve to win. If you have entered a
                                competition yourself, use social media to get yourself more votes!
                            </li>
                        </ul>
                    </p>
                 </li>
            </ol>
        </div>
    </div>
    <hr>

{% endblock %}
