{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    {% block head_js %}
        <script type="text/javascript" src="{% static "js/home.js" %}"></script>
    {% endblock %}

    {% include 'messages.html' %}

    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to The Writers</h1>

            <h2 class="centreTxt">The online space that allows you to showcase your creative writing talents.</h2>
            <h3 class="centreTxt">Things you can do on The Writers!
                <button aria-label='hide list' id="hideList"><i class="fa fa-angle-up"></i></button>
                <button aria-label='show list' id="showList"><i class="fa fa-angle-down"></i></button>
            </h3>

            <ul class="homeList">
                <li><span>Subscribe</span> and enter competitions for your chance to <span>win cash money!</span></li>
                <li>Post your work for everyone to see and talk about.</li>
                <li>Join the community <span>discussing featured works.</span></li>
                <li><span>Vote</span> for the competition entry you think deserves to win.</li>
                <li>Have <span>100% control</span> over when your posts are published.</li>
                <li>Edit or delete your featured posts any time.</li>
            </ul>
            <hr>
            {% include 'competition/general/competition.html' %}

            <h2 id="featuredTitle">Featured Work</h2>
            {% for p in posts %}
                <div class="col-md-6">
                    <h3>{{ p.title|title }}</h3>
                    <p>{{ p.content|truncatewords:5 }}</p>
                    <p>Category: {{ p.category }} | Genre: {{ p.genre }}</p>
                    <p>Posted by {{ p.author }} on {{ p.date_published }} | Views {{ p.views }}
                    </p>
                    <hr>
                </div>
            {% endfor %}
            <p><a class="btn btn-default floatRight" href="{% url 'featured' %}">Read Posts
            </a></p>
        </div>
    </div>
{% endblock %}