{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div>
                {{ post.date_created }}
            </div>
            <div class="col-md-9">
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ post.body }}</p>
                        <p><button class="btn btn-default" onclick="location.href='/posts'">Back to Posts</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}