{% load account_extras %}
    {% if comp %}
        <article>
            <h2>The Competition</h2>
            <h3>CASH prize so far £ {{ prize }}.00</h3>
            <h3>For each new subscriber the prize will increase by £1.00</h3>

            <h3><span class="compT">Title:</span></h3>
            <p>{{ comp.title|title }}</p>
            <h3><span class="compT">Brief:</span></h3>
            <p>{{ comp.brief }}</p>
            {% if entry_period and subscribed %}
                <p>Entry period is now open and ends in {{ comp.entry_period_fin|timeuntil }}.
                    <a class="btn btn-default floatRight" href="{% url 'new_post' %}">
                        Enter Now
                    </a>
                </p>
                <hr>
            {% endif %}

            {% if not subscribed and entry_period %}
                <p>Entry period is now open and ends in {{ comp.entry_period_fin|timeuntil }}.
                    <a id="subscribeBtn" class="btn btn-default floatRight" href="{% url 'subscribe' %}">Upgrade account
                    </a>
                </p>
                <hr>
            {% endif %}
            {% if vote_period %}
                <p>Voting is now open and ends in {{ comp.vote_period_end|timeuntil }}
                    <a class="btn btn-default floatRight" href="{% url 'view_entries' %}">
                        Vote Now
                    </a>
                </p>
                <hr>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <h2 class="noComps">There are no active competitions at this time</h2>
                </div>
            </div>
            <hr>
        </article>
    {% endif %}

