
.homeList li{
	font-size: 20px;
}

#featuredTitle{
    margin-left: 10px;
}

#hideList #showList{
    margin-left: 15px;
    color: #01403B;
}

.centreTxt{
    text-align: center;
}

.flex-item ul{
    list-style-type: none;
}

.centreTxt button{
    color: #007f76;
    background: none;
    border: none;

}

ol ul li p{
    color: #000;
}

#aboutInfo li {
    font-family: 'Crimson Text', serif;
    font-size: 23px;
}