
#homeIntro{
	margin-top: 15px;
}

.intro{
	font-size: 18px;
}

.homeEnter{
	float: right;
	margin: 10px;
}

.homeMore{
	float: right;
}

#homeFeaturedList{
	margin-top: 15px;
}

.homeList li{
	font-size: 20px;
}