{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Your Posts</h1>
        </div>
    </div>

    {% include 'messages.html' %}

    {% include 'posts/general/listposts.html' %}

    {% if posts.has_other_pages %}
        <div class="stepLinks floatRight">
            {% if posts.has_previous %}
                <p><a href="?page={{ posts.previous_page_number }}">previous</a></p>
            {% endif %}
                <p class="current">Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</p>
            {% if posts.has_next %}
                <p><a href="?page={{ posts.next_page_number }}">next</a></p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}