{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
        <div class="row">
            <div class="col-md-12">

                <hr>
                <div class="col-md-12">
                    <h4 class="listTitle">{{ post.title }}</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{ post.content|truncatewords:30 }}</p>
                            <p>Posted by {{ post.author }} on {{ post.date_created }} | Views {{ post.views }}</p>
                            {% if post.is_entry %}
                                <p>Entered in {{ post.comp }} competition</p>
                            {% endif %}
                            {% if post.is_featured %}
                                <p>Published on {{ post.date_published }}</p>
                            {% else %}
                                <p>This post was created on {{ post.date_published }}. To publish this post, when you
                                    edit, select featured post and save.</p>
                            {% endif %}

                            <p><button class="btn btn-default floatRight" onclick="location.href={{ post.id }}">Read More
                            </button></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
    {% if posts.has_other_pages %}
        <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    {% endif %}
    </span>
</div>
{% endblock %}