{% extends 'base.html' %}
{%  block content %}
    {% load bootstrap_tags cloudinary %}
    <div class="row">
        <div class="col-md-12">
            <h1>New post</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <p>Use this form to post your work. You can choose whether
            you want it to be made public by selecting the featured radio button,
                or entered into a competition by selecting the entry radio button, or if
            you don’t want anyone to see it just yet you can save it so only
            you can view it. You can come back and edit it any time and even delete it
            if you want</p>
        </div>
    </div>


    {% if messages %}
    {% include 'messages.html' %}
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ backend_form | as_bootstrap }}
        <p><input type="submit" class="btn btn-default"></p>
    </form>
{% endblock %}