
/* General css*/

body{
    bottom: 0px;
}

a{
    color: #000;
    text-decoration: none;
}

p, li{
    font-family: Bangala MN;
    font-size: 18px;
}

h2, h3, h4{
    color: #000000;
    font-family: Bangala MN;
}

h1{
    color:#42ab9e;
    font-family: Bangala MN;
    text-align: center;
}


.btn-default {
    border: 1px solid #42ab9e;
}

.floatRight{
    float: right;
}

.messages{
    margin-top: 15px;
    font-family: Bangala MN;
    font-size: 21px;
}

.centre{
    display: block;
    margin: 0 auto;
}

span{
    color: #BD5461;
    font-weight: bold;
}
/* GENERAL POST DETAIL */

.postContent{
    margin-left: 25px;
}

.authorMargin{
    margin-right: 50px;
}

.detailInfo{
    display: block;
    margin-top: 25px;
}

/* FORMS */

.formContainer{
    margin-top: 20px;
}

/*TITLE*/

.baseTitle p{
    font-family: Bangala MN;
    font-size: 30px;
    color: #000;
}

.baseTitle button{
    margin-right: 5px;
}


/*TOP NAV*/
#userPhotoSmall{
    position: relative;
    display: block;
    margin: 10px auto -5px;
    height: 80px;
    width: 80px;
    border: 1px solid #979797;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#baseNav{
    display: none;
    height: 80px;
}

#baseNavTitle{
    width: 15px;
    color: black;
}

.baseNavWords{
    font-family: Bangala MN;
    font-size: 18px;
}

.navbar-toggle {
    border: 1px solid black;
}

.navbar-toggle *{
    border: 1px solid black;
}

.borders{
    border: 1px solid #BD5461;      /* borders for top and side nav*/
}


/*SIDE NAV*/

#profile{
    display: none;
    margin-top: 15px;
    padding: 15px;
}

#userPhoto{
    position: relative;
    display: block;
    top: -65px;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border: 1px solid #979797;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.avatar{
    width: 80px;
    height: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#username{
    position: relative;
    color: #BD5461;
    text-align: center;
    top: -40px;
}

#username p{
    font-size: 25px;
    margin-bottom: -15px;
}

.profile-title{
    font-weight: bold;
    font-size: 18px;
    color: #01403B;
}

#profile .btn-default{
    display: block;
    margin: 0 auto;
}

#upBtnContainer{

}

#uploadPhotoBtn{
    display: block;
    margin: 0 auto;
}


@media screen and (min-width: 768px) {

    #baseNav {
        display: block;
    }

    #navCollapseBase{
        display: none;
    }

    #profile{
        display: block;
    }

    .baseNavWords {
        font-family: Bangala MN;
        font-size: 18px;
        padding-top: 15px;
    }

    .baseTitle p a{
        display: none;
    }

    #upBtnContainer{
        margin-top: -40px;
        margin-bottom: 20px;
    }

    #userPhotoSmall{
        display: none;
    }

}