
/* General css*/

a{
    color: #000;
    text-decoration: none;
}

p, li{
    font-family: Bangala MN;
    font-size: 18px;
}

h2, h3, h4{
     color:#01403B;
    font-family: Bangala MN;
}

h1{
     color:#331100;
    font-family: Bangala MN;
    text-align: center;
}


.btn-default {
    border: 1px solid #42ab9e;
}

.floatRight{
    float: right;
}

.messages{
    margin-top: 15px;
    font-family: Bangala MN;
    font-size: 21px;
}

.centre{
    display: block;
    margin: 0 auto;
}

span{
    color: #BD5461;
    font-weight: bold;
}
/* GENERAL POST DETAIL */

.postContent{
    margin-left: 25px;
}

.authorMargin{
    margin-right: 50px;
}

.detailInfo{
    display: block;
    margin-top: 25px;
}

/* FORMS */

.formContainer{
    margin-top: 20px;
}

/*TITLE*/

.baseTitle p{
    font-family: Bangala MN;
    font-size: 30px;
    color: #000;
}


/*TOP NAV*/

#baseNav{
    height: 80px;
}

.baseNavWords{
    font-family: Bangala MN;
    font-size: 18px;
    padding-top: 15px;
}

.borders{
    border: 1px solid #BD5461;      /* borders for top and side nav*/
}


/*SIDE NAV*/

#profile{
    margin-top: 15px;
    padding: 15px;
}

#userPhoto{
    position: relative;
    display: block;
    top: -65px;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border: 1px solid #979797;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.avatar{
    width: 80px;
    height: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#username{
    position: relative;
    color: #BD5461;
    text-align: center;
    top: -40px;
}

#username p{
    font-size: 25px;
    margin-bottom: -15px;
}

.profile-title{
    font-weight: bold;
    font-size: 18px;
    color: #01403B;
}

#profile .btn-default{
    display: block;
    margin: 0 auto;
}

#upBtnContainer{
    margin-top: -40px;
    margin-bottom: 20px;
}

#uploadPhotoBtn{
    display: block;
    margin: 0 auto;


}