{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1>Posts by {{ user }}</h1>
            </div>
        </div>
    </div>


    {% for post in posts %}
         <div class="row">
            <div class="col-md-12">
                <hr>
                <div class="col-md-12">
                    <h3>{{ post.title }}</h3>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{ post.content|truncatewords:30 }}</p>
                            {% if post.is_entry %}
                                <p>Entered in {{ post.comp }} competition</p>
                            {% endif %}
                            {% if post.is_featured %}
                                <p>Published on {{ post.date_published }}</p>
                            {% else %}
                                <p>This post was created on {{ post.date_published }}. To publish this post, when you
                                    edit, select featured post and save.</p>
                            {% endif %}
                                <p>Views {{ post.views }}</p>

                            <button class="btn btn-default" onclick="location.href={{ post.id }}">Read More</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}

{% endblock %}