{% extends "base.html" %}
{% block content %}
{% load bootstrap_tags %}

    {% if post.date_published %}
        {% include 'posts/general/post.html' %}
    {% else %}
        <p>This post has yet to be published</p>
    {% endif %}

    {% if c and c == post.comp %}
    <div class="row">
        <div class="com-md-12">
            <div>
                <p>Click this button to vote for this entry</p>
            </div>
            <div id="voteBtnContainer">
                <button id='voteButton' class="btn" onclick="location.href='{% url 'cast_vote' post.id %}'">
                    Vote
                </button>
            </div>
            <hr>
            {% endif %}

            {% include 'messages.html' %}


        <div class="row">
            <div class="col-md-12">
                <p>
                    <button class="btn btn-default floatRight" onclick="location.href='/search/'">Back</button>
                </p>
            </div>
        </div>

    {% include 'comments/comments.html' %}

    </div>
{% endblock %}