{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="compInfo">
                <h1>The Writers Monthly Cash Give Away</h1>

                <p>Every month on the writers we hold a competition for our subscribers in which
                    they can <span>win a cash prize</span>. The <span>more subscribers</span> we have, <span>the bigger
                        the prize</span> for the winner.
                </p>
                <ul>
                    <li>The entry period</li>
                    <p>Subscribers can submit their work to the competition during this time.
                    </p>
                    <li>The voting period</li>
                    <p>Once the entry period ends, the voting period begins. No submissions or edits can be made during
                        this time. Users can vote for the entry they think deserves to win the cash prize.</p>
                    <li>The Prize</li>
                    <p>The reason we ask competition entries to come from subscribers only is that we use the
                        subscription money to fun the winners pot. This means the more subscribers we have, the bigger
                        the prize will be</p>
                </ul>
                <p>Please note, if a competition receives no entries, or no votes, it will not be displayed on the
                    winners page once it has finished.</p>
            </div>
        </div>
    </div>
    <hr>

    {% include 'competition/general/competition.html' %}

{% endblock %}