{% extends "base.html" %}
{% block content %}
    {% include 'posts/general/post.html' %}
        <div class="row">
            <div class="com-md-12">
                <p class="floatRight">This entry has {{ votes }}
                    {% if votes <= 1 %}
                        vote
                    {% else %}
                        votes</p>
                    {% endif %}
                {% if vote %}
                    <p class="space">{{ user }}: You have voted for this entry</p>
                {% else %}
                    <p>Clicking this button will cast a vote for this entry</p>
                    <div id="voteBtnContainer">
                        <p>
                            <button id='voteButton' class="btn" onclick="location.href='{% url 'cast_vote' post.id %}'">
                                Vote
                            </button>
                        </p>
                    </div>
                {% endif %}
                {% include 'messages.html' %}
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <a class="btn btn-default floatRight voteBack" href="{% url 'view_entries' %}">
                                Back to Entries</a>
                        </p>
                    </div>
                </div>
                {% include 'comments/comments.html' %}
            </div>
        </div>
{% endblock %}