{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if post.image %}
                <img src="/media/{{ post.image }}">
            {% endif %}
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div id='competitionContent'>
                        <p>{{ post.content }}</p>
                    </div>
                    <hr>
                    <div>
                        <p>This entry has {{ votes }} votes</p>
                    </div>
                    <div>
                        {% if vote %}
                            <p>{{ user }}: You have voted for this entry</p>
                        {% else %}
                            <p>Clicking this button will cast a vote for this entry</p>
                    </div>
                            <div id="voteBtnContainer">
                                <button id='voteButton' class="btn" onclick="location.href='{% url 'cast_vote' post.id %}'">
                                    Vote</button>
                            </div>
                        {% endif %}
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-default" onclick="location.href='/competition/entries/'">
                            Back to Entries
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% load disqus_tags %}
    {% disqus_dev %}
    {% set_disqus_title post.title %}
    {% disqus_show_comments %}
{% endblock %}