{% extends 'base.html' %}
{% block content %}
    {% load post_extras %}
    {% if entries %}
        <h1>{{ comp.title }}</h1>
        <h3>{{ comp.brief }}</h3>
        {% if vote_period %}
        <h4>Voting ends in {{ comp.vote_period_end|timeuntil }}</h4>
        {% endif %}

        {% for entry in entries|shuffle %}
            <div>
                {% if comp == entry.comp %}
                    <div class="col-md-6">
                    <hr>
                        <h3>{{ entry.title }}</h3>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>{{ entry.content|truncatewords:5 }}</p>
                                <p>Posted by {{ entry.author }}</p>
                                 <button class="btn btn-default floatRight" onclick="location.href={{ entry.id }}">
                                     Read Post
                                 </button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <p class="noComps">There are no active competitions at this time</p>
        </div>
    </div>
    {% endif %}
    {% include 'messages.html' %}
{% endblock %}