{% extends 'base.html' %}
{% block content %}

    <h3>{{ comp.title }}</h3>

    {% for entry in entries %}
        <div>
            {% if comp.id == entry.comp.id %}
                <div class="col-md-12">
                    <h4>{{ entry.title }}</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{ entry.content|truncatewords:30 }}</p>
                            <p><button class="btn btn-default" onclick="location.href={{ entry.id }}">Read More</button></p>
                            <p>Posted by {{ entry.author }} Votes {{ entry.vote_count }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}