{% extends 'base.html' %}
{% block content %}

    <h1>{{ comp.title }}</h1>
    <h3>{{ comp.brief }}</h3>

    {% for entry in entries %}
        <div>
            {% if comp == entry.comp %}
                <div class="col-md-6">
                <hr>
                    <h3>{{ entry.title }}</h3>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{ entry.content|truncatewords:15 }}</p>
                            <p>Posted by {{ entry.author }}</p>
                             <button class="btn btn-default" onclick="location.href={{ entry.id }}">Read More</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if entries %}
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <p>There are no active competitions at this time</p>
        </div>
    </div>
    {% endif %}

{% endblock %}