{% extends 'base.html' %}
{% block content %}

    {% include 'post.html' %}

    <div class="row">
        <div class="col-md-12">

            <h3>{{ post.author }} won £{{ post.comp.prize }}.00 with {{ votes }} votes
            </h3>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default floatRight" onclick="location.href='/competition/entries/winners'">
                Back to Winners
            </button>
        </div>
    </div>

    <hr>
   {% include 'comments/comments.html' %}

{% endblock %}