{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div>
                <h1>{{ post.title }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% if post.image %}
                <img src="/media/{{ post.image }}">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <p> {{ post.content }} </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <p>{{ request.user }} won £{{ post.comp.prize }}.00 with {{ votes }} votes</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" onclick="location.href='/competition/entries/winners'">
                Back to Winners
            </button>
        </div>
    </div>


{% endblock %}