{% extends 'base.html' %}
{% block content %}

    {% include 'messages.html' %}

    {% for c in comps %}
        {% if c.winner %}
            {% for p in posts %}
                {% if p.comp == c %}
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <div>
                        <h1 class="winnerscomp">{{ c.title }}</h1>
                    </div>
                    <div>
                        <h2 class="winnerscomp">{{ c.brief }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h3 class="winner">The winner is: {{ p.author }}</h3>
                    </div>
                    <div>
                        <h3 class="winner">with the post: {{ p.title }}</h3>
                    </div>
                </div>
            </div>
            <p><button class="btn btn-default floatRight" onclick="location.href={{ p.id }}">Read More
            </button></p>
        {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}



    {% if comps.has_other_pages %}
        <div class="pagination">
    <span class="step-links">
        {% if comps.has_previous %}
            <a href="?page={{ comps.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ comps.number }} of {{ comps.paginator.num_pages }}.
        </span>

        {% if comps.has_next %}
            <a href="?page={{ comps.next_page_number }}">next</a>
        {% endif %}
        </span>
        </div>
    {% endif %}


{% endblock %}