{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Writers Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}{% endblock %}
</head>
<body>
    <!-- Landing page navigation-->
    <div class="container">
        <div class="masthead">
            <div class="row">
                <div class="col-md-12">
                    <div class="baseTitle">
                        The Writers
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="borders">
                        <ul class="nav nav-pills pull-right">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div id="profile" class="borders">
                        <p>{{ user.username }}</p>

                        <div class="row">
                            <div class="col-md-3">
                               <button class="btn btn-primary">Upload Photo</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p>Create</p>
                                <a href="{% url 'new_post' %}"><p>Write something new</p></a>
                                <a href="{% url 'post_list' %}"><p>View your work</p></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p>Competitions</p>
                                <a href="{% url 'view_comp' %}"><p>Competition details</p></a>
                                <p>Vote</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p>Account</p>

                                {% if user.strip_id %}
                                    <a href="{% url 'cancel' %}"><p>Cancel Subscription</p></a>
                                {% else %}
                                    <a href="{% url 'subscribe' %}"><p>Upgrade account</p></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <a href="{%  url 'logout' %}"><button class="btn btn-primary">Log Out</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

</body>

</html>