<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Writers Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
</head>
<body>
    <!-- Landing page navigation-->
    <div class="container">
        <div class="masthead">
            <div class="row">
                <div class="col-md-12">
                    <div class="baseTitle">
                        The Writers
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="borders">
                        <ul class="nav nav-pills pull-right">
                            <li><a href="home">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div id="profile" class="borders">
                        <p>{{ user.username }}</p>

                        <div class="row">
                            <div class="col-md-3">
                               <button class="btn btn-primary">Upload Photo</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p>Create</p>
                                <p>Write something new</p>
                                <p>View your work</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p>Competitions</p>
                                <p>Competition details</p>
                                <p>Vote</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p>Account</p>
                                <p>Upgrade account</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <a href="{%  url 'logout' %}"><button class="btn btn-primary">Log Out</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js">
</script>
</html>