<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>The Writers Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://use.fontawesome.com/7dc7b1b8bc.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">

</head>
<body>
    <!-- Landing page navigation-->
    <div class="container-fluid">
        <div id="landing-nav">
            <div class="container">
                <div class="row">
                    <div class="com-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <div class="link">
                                        <a class="land-link" href="#">Shop</a>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                     <div class="link">
                                         <a class="land-link" href="#">Competition</a>
                                     </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="title-circle">
                                    <div id="title">The Writers</div>
                                </div>
                                <div id="line-rel">
                                    <div id="line">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <div class="link">
                                        <a class="land-link" href="#">Featured</a>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="link">
                                        <a class="land-link" href="{% url 'about' %}">About</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mainHeading">
            <h1>Showcase your talents on the writers</h1>
            <div id="line-two"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div id="listPosition">
                        <ul class="landing-list">
                            <li><i class="fa fa-check"></i>Enter competitions and win money</li>
                            <li><i class="fa fa-check"></i>Post your poems, short stories and other works</li>
                            <li><i class="fa fa-check"></i>Comment on and critique featured works</li>
                            <li><i class="fa fa-check"></i>Cast your vote and choose a winner</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="form-box">
                        <a href="{% url 'register' %}"><button class="btn btn-primary">Sign Up</button></a>
                        <a href="{% url 'login' %}"><button class="btn btn-primary">Login</button></a>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js">
</script>

</html>