
.postContent p{
    margin-left: 25px;
}

.btpBtn{
    margin-right: 15px;
}

.centreImg > img{
    width: auto;
    height: 300px;
    display: block;
    margin: 0 auto;
}

#image-clear_id{
    display: none;
}

label[for=image-clear_id]{
    display: none;
}

.shareButtons{
    margin-bottom: 15px;
}

#twitter i{
    color: #1997f0;
}

#facebook i{
    color: #395ca9;
}

#reddit i{
    color: #ff3c01;
}

#gplus i{
 color: #d74031;
}