
.avatarContainer{
    position: relative;
    display: block;
    height: 80px;
    width: 80px;
    border: 1px solid #979797;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#div_id_content > label{
    display: none;
}

.commentForm{
    margin-top: 15px;
}

.commentContent i{
    margin: 5px;
}